@model IEnumerable<covid19.Models.Casos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Provincia_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recuperados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Muertes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recuperados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Muertes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
